/*
 * These are the recommended font settings for KeyLines HTML5 version
 *
 * You will need to replace the '/fonts/' part of the URL with your own server paths,
 * if different.
 *
 * The handling of fonts (and other assets) is different across KeyLines Flash & HTML5
 * components.
 *
 * In the case of Flash, the fonts are already embedded into the .swf file.
 *
 * In HTML5, fonts are loaded like any other resource in the web page. KeyLines looks
 * for the 'Ubuntu' font. This font must be already loaded into your webpage by the
 * time KeyLines creates a chart. In practical terms this means waiting for the
 * $(window).load function before using KeyLines: see the example code for how to do
 * this.
 *
 * If the text does not show immediately, the chances are that the font has not loaded
 * into the browser page by the time the chart is created: using $(window).load will
 * guarantee KeyLines has the resources it needs.
 */

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-regular-webfont.eot');
  src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
       url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
       url('../fonts/ubuntu-regular-webfont.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-bold-webfont.eot');
  src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
       url('../fonts/ubuntu-bold-webfont.ttf') format('truetype'),
       url('../fonts/ubuntu-bold-webfont.svg#UbuntuBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

#kl-mask {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index:10000;
    /* Ensure mask is clickable when using flash */
    background: white;
    opacity: 0;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 7 */
    filter: alpha(opacity=0);
}

.kl-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index:10001;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.kl-dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

.kl-dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0093c6;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}