#miniContainer {
  background-color: #fff;
  margin: 10px;
}
.controloverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  font-size: 28px;
  z-index: 9001;
}

.controloverlay ul {
  list-style-type: none;
  margin-top:18px;
  margin-left:15px;
}

.controloverlay li {
  margin-bottom: 5px;
  text-align: center;
}

.controloverlay a i {
  text-decoration: none;
  cursor: pointer;
}

.btn-row {
  overflow: auto;
  clear: both;
}
.size-btn input.btn {
  width: 115px;
}